@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.title,
.name{
  font-family: 'Pacifico', cursive;
}
nav li{
  display: block;
  font-family: 'Quicksand', arial;
}
.toggleWrapper{
  display: none;
}
.hero{
  height: 681.5px;
}
.img1{
  top: 150px;
  left: 100px;
}
.img2{
  top: 500px;
  right: 100px;
}
.reviewWrapper{
  height: 250px;
}
.boxReview{
  width: 600px;
  height: 230px;
}
.boxReview .img1,
.img3{
  width: 215px;
}
.boxReview .img2{
  width: 164px;
}
form{
  width: 500px;
}
@media (max-width: 992px) {
  .navbar{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
  nav li{
    display: none;
  }
  .toggleWrapper{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
  .togel{
    width: 30px;
    height: 2px;
    background: black;
    transition: 0.5s ease;
  }
  .togel::before,
  .togel::after{
    content: ' ';
    position: absolute;
    width: 30px;
    height: 2px;
    background: black;
  }
  .togel::before{
    content: ' ';
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
  .togel::after{
    content: ' ';
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transition: 0.5s ease;
  }
  /* moving navbar */
  .navbar.moving .togel::before{
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg) ;
    -moz-transform: rotate(45deg) ;
    -ms-transform: rotate(45deg) ;
    -o-transform: rotate(45deg) ;
}
  .navbar.moving .togel{
    background: transparent;
  }
  .navbar.moving .togel::after{
    transform: rotate(-45deg) ;
    -webkit-transform: rotate(-45deg) ;
    -moz-transform: rotate(-45deg) ;
    -ms-transform: rotate(-45deg) ;
    -o-transform: rotate(-45deg) ;
  }
  .navbar.moving{
    margin: 0;
    padding: -50px 0 0 0;
    position: relative;
    width: 100%;
    height: 300px;
    background: rgb(240, 240, 240);
  }
  .navbar.moving li{
    display: block;
    text-align: center;
  }
}
/* 576 */
@media (max-width: 576px) {
  .aboutWord{
    padding: 0 70px !important;
  }
  .p2{
    margin-top: 40px !important;
  }
  .p3,
  .p4{
    margin-top: 30px !important;
  }
  .quote{
    text-align: center !important;
  }
  .pabrik{
    text-align: center;
  }
  .boxReview{
    margin-top: 150px !important;
  }
}
@media (max-width: 400px) {
  .aboutWord{
    padding: 0 50px !important;
  }
  .boxReview .img1,
  .img3{
    width: 215px;
    display: none;
  }
  .boxReview1{
    background-image: url('../../../assets/review-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: white;
}
  .boxReview2{
    background-image: url('../../../assets/review-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: white;
  }
  .boxReview3{
    background-image: url('../../assets/review-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: white;
  }
  .boxReview .img2{
    width: 164px;
    display: none;
  }
}